<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.BatchInfoMapper">
    
    <resultMap type="BatchInfo" id="BatchInfoResult">
        <result property="id"    column="id"    />
        <result property="batchNo"    column="batch_no"    />
        <result property="ownerId"    column="owner_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="status"    column="status"    />
        <result property="startTime"    column="start_time"    />
        <result property="endTime"    column="end_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="quotation"    column="quotation"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectBatchInfoVo">
        select id, batch_no, owner_id, create_time, status,start_time,end_time, update_time, quotation, remark from batch_info
    </sql>

    <select id="selectBatchInfoList" parameterType="BatchInfo" resultMap="BatchInfoResult">
        <include refid="selectBatchInfoVo"/>
        <where>  
            <if test="batchNo != null  and batchNo != ''"> and batch_no = #{batchNo}</if>
            <if test="ownerId != null "> and owner_id = #{ownerId}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="quotation != null "> and quotation = #{quotation}</if>
        </where>
    </select>
    
    <select id="selectBatchInfoById" parameterType="Long" resultMap="BatchInfoResult">
        <include refid="selectBatchInfoVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertBatchInfo" parameterType="BatchInfo" useGeneratedKeys="true" keyProperty="id">
        insert into batch_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="batchNo != null and batchNo != ''">batch_no,</if>
            <if test="ownerId != null">owner_id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="status != null">status,</if>
            <if test="startTime != null">start_time,</if>
            <if test="endTime != null">end_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="quotation != null">quotation,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="batchNo != null and batchNo != ''">#{batchNo},</if>
            <if test="ownerId != null">#{ownerId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="status != null">#{status},</if>
            <if test="startTime != null">#{startTime},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="quotation != null">#{quotation},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateBatchInfo" parameterType="BatchInfo">
        update batch_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="batchNo != null and batchNo != ''">batch_no = #{batchNo},</if>
            <if test="ownerId != null">owner_id = #{ownerId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="status != null">status = #{status},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="quotation != null">quotation = #{quotation},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBatchInfoById" parameterType="Long">
        delete from batch_info where id = #{id}
    </delete>

    <delete id="deleteBatchInfoByIds" parameterType="String">
        delete from batch_info where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>