<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.ProductInfoMapper">

    <resultMap type="productInfo" id="productInfoResult">
        <id property="id" column="id"/>
        <result property="categoryId" column="category_id"/>
        <result property="batchId" column="batch_id"/>
        <result property="name" column="name"/>
        <result property="t1Cnt" column="t1_cnt"/>
        <result property="t2Cnt" column="t2_cnt"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectProductInfoVo">
        select company_name, money, pub_time,investor_name, share,round,update_time,news_title,news_url
		from financing_history
    </sql>

<!--    <select id="selectNoticeById" parameterType="Long" resultMap="SysNoticeResult">-->
<!--        <include refid="selectNoticeVo"/>-->
<!--        where notice_id = #{noticeId}-->
<!--    </select>-->
    
    <select id="selectProductInfoList" parameterType="productInfo" resultMap="productInfoResult">
        <include refid="selectProductInfoVo"/>
        <where>
			<if test="companyName != null and companyName != ''">
				AND company_name like concat('%', #{companyName}, '%')
			</if>
			<if test="round != null and round != ''">
				AND round = #{round}
			</if>
		</where>
    </select>

</mapper>