<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.ProductCategoryMapper">

    <resultMap type="productCategory" id="productCategoryResult">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="index" column="index"/>
        <result property="status" column="status"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectProductCategoryVo">
        select id, name
		from product_category
    </sql>
    
    <select id="selectProductCategoryList"  resultMap="productCategoryResult">
        <include refid="selectProductCategoryVo"/>
        <where>
			<if test="name != null and name != ''">
				AND name like concat('%', #{name}, '%')
			</if>
			<if test="status != null">
				AND status = #{status}
			</if>
		</where>
    </select>

    <insert id="insertProductCategory" parameterType="productCategory">
        insert into product_category(name,index,
        <if test="status != null and status != 0">status,</if>
        update_time
        )values(
        #{name},
        #{index},
        <if test="status != null and status != ''">#{status},</if>
        now()
        )
    </insert>

    <update id="updateProductCategory" parameterType="productCategory">
        update sys_dept
        <set>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="index != null">index = #{index},</if>
            <if test="status != null">status = #{status},</if>
            update_time = now()
        </set>
        where id = #{id}
    </update>

</mapper>