<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.product.mapper.ProdInfoMapper">
    
    <resultMap type="ProdInfo" id="ProdInfoResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="bradName"    column="brand_name"    />
        <result property="categoryId"    column="category_id"    />
        <result property="batchId"    column="batch_id"    />
        <result property="batchNo"    column="batch_no"    />
        <result property="t1Cnt"    column="t1_cnt"    />
        <result property="t2Cnt"    column="t2_cnt"    />
        <result property="t3Cnt"    column="t3_cnt"    />
        <result property="count"    column="count"    />
        <result property="subtype1"    column="subtype1"    />
        <result property="subtype2"    column="subtype2"    />
        <result property="idx"    column="idx"    />
        <result property="status"    column="status"    />
        <result property="updateTime"    column="update_time"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectProdInfoVo">
        select id, name,brand_name, category_id, batch_id,batch_no, t1_cnt, t2_cnt, t3_cnt, count, subtype1, subtype2, idx, status, update_time, create_time from prod_info
    </sql>

    <select id="selectProdInfoList" parameterType="ProdInfo" resultMap="ProdInfoResult">
        <include refid="selectProdInfoVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="brandName != null  and bradName != ''"> and brand_name like concat('%', #{bradName}, '%')</if>
            <if test="categoryId != null "> and category_id = #{categoryId}</if>
            <if test="batchId != null  and batchId != ''"> and batch_id = #{batchId}</if>
            <if test="batchNo != null  and batchNo != ''"> and batch_no = #{batchNo}</if>
            <if test="t1Cnt != null "> and t1_cnt = #{t1Cnt}</if>
            <if test="t2Cnt != null "> and t2_cnt = #{t2Cnt}</if>
            <if test="t3Cnt != null "> and t3_cnt = #{t3Cnt}</if>
            <if test="count != null "> and count = #{count}</if>
            <if test="subtype1 != null  and subtype1 != ''"> and subtype1 = #{subtype1}</if>
            <if test="subtype2 != null  and subtype2 != ''"> and subtype2 = #{subtype2}</if>
            <if test="idx != null "> and idx = #{idx}</if>
            <if test="status != null "> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectProdInfoById" parameterType="Long" resultMap="ProdInfoResult">
        <include refid="selectProdInfoVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertProdInfo" parameterType="ProdInfo" useGeneratedKeys="true" keyProperty="id">
        insert into prod_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="brandName != null and brandName != ''">brand_name,</if>
            <if test="categoryId != null">category_id,</if>
            <if test="batchId != null and batchId != ''">batch_id,</if>
            <if test="batchNo != null and batchNo != ''">batch_no,</if>
            <if test="t1Cnt != null">t1_cnt,</if>
            <if test="t2Cnt != null">t2_cnt,</if>
            <if test="t3Cnt != null">t3_cnt,</if>
            <if test="count != null">count,</if>
            <if test="subtype1 != null">subtype1,</if>
            <if test="subtype2 != null">subtype2,</if>
            <if test="idx != null">idx,</if>
            <if test="status != null">status,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="brandName != null and brandName != ''">#{brandName},</if>
            <if test="categoryId != null">#{categoryId},</if>
            <if test="batchId != null and batchId != ''">#{batchId},</if>
            <if test="batchNo != null and batchNo != ''">#{batchNo},</if>
            <if test="t1Cnt != null">#{t1Cnt},</if>
            <if test="t2Cnt != null">#{t2Cnt},</if>
            <if test="t3Cnt != null">#{t3Cnt},</if>
            <if test="count != null">#{count},</if>
            <if test="subtype1 != null">#{subtype1},</if>
            <if test="subtype2 != null">#{subtype2},</if>
            <if test="idx != null">#{idx},</if>
            <if test="status != null">#{status},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateProdInfo" parameterType="ProdInfo">
        update prod_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="brandName != null and brandName != ''">brand_name = #{brandName},</if>
            <if test="categoryId != null">category_id = #{categoryId},</if>
            <if test="batchId != null and batchId != ''">batch_id = #{batchId},</if>
            <if test="batchNo != null and batchNo != ''">batch_no = #{batchNo},</if>
            <if test="t1Cnt != null">t1_cnt = #{t1Cnt},</if>
            <if test="t2Cnt != null">t2_cnt = #{t2Cnt},</if>
            <if test="t3Cnt != null">t3_cnt = #{t3Cnt},</if>
            <if test="count != null">count = #{count},</if>
            <if test="subtype1 != null">subtype1 = #{subtype1},</if>
            <if test="subtype2 != null">subtype2 = #{subtype2},</if>
            <if test="idx != null">idx = #{idx},</if>
            <if test="status != null">status = #{status},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteProdInfoById" parameterType="Long">
        delete from prod_info where id = #{id}
    </delete>

    <delete id="deleteProdInfoByIds" parameterType="String">
        delete from prod_info where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>