<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增产品报价信息')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-history-add">
            <div class="form-group">
                <label class="col-sm-3 control-label  is-required">发布方：</label>
                <div class="col-sm-8">
                    <select id="ownerUserId" name="ownerUserId" class="form-control" onchange="loadProdBatch()">
                        <option th:each="publish:${publishes}" th:value="${publish.userId}" th:text="${publish.userName}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label is-required">产品批次ID：</label>
                <div class="col-sm-8">
<!--                    <input name="batchId" class="form-control" type="text" required>-->
                    <select id="batchNO" name="batchNO" class="form-control" onchange="loadProdInfo()">
                    </select>

                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">产品名称：</label>
                <div class="col-sm-8">
<!--                    <input name="name" class="form-control" type="text" required>-->
                    <select id="prodId" name="prodId" class="form-control" required>
                    </select>
                </div>
            </div>

            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">报价人手机号：</label>
                <div class="col-sm-8">
                    <input name="userId" class="form-control" type="text" required>
                </div>
            </div>

            <div class="form-group">    
                <label class="col-sm-3 control-label">报价人微信昵称：</label>
                <div class="col-sm-8">
                    <input name="nickName" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">意向数量：</label>
                <div class="col-sm-8">
                    <input name="count" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">报单价：</label>
                <div class="col-sm-8">
                    <input name="price" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "product/history";
        var data ;

        $(document).ready(function() {
            $('#ownerUserId').prepend('<option value="-1" selected>请选择供应商</option>');
        });
        $("#form-history-add").validate({
            onchange: true,
            ruls: {
                prodId: {
                    // minlength: 2,
                    // maxlength: 20,
                    remote: {
                        url: prefix + "/checkProdHistoryUnique",
                        type: "post",
                        dataType: "json",
                        data: {
                            "prodId": function () {
                                return $.common.trim($("#name").val());
                            },
                            "batchNO": function () {
                                return $.common.trim($("#batchId").val());
                            }
                        }
                    }
                }
            },
            messages: {
                "prodId": {
                    remote: "该商品您已经报过价了"
                }
            },
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-history-add').serialize());
            }
        }

        //加载产品批次
        function loadProdBatch(){
            console.log("loadProdBatch");
            var publisher = $("#publish").val();
            var pub = $.common.isEmpty(publisher) ? 1: publisher;
            var url = ctx + "product/batch/list/" + pub;
            var config = {
                url: url,
                type: "post",
                dataType: "json",
                data: null,
                beforeSend: function () {
                    $.modal.loading("正在处理中，请稍候...");
                },
                success: function(result) {
                    var selectElement = $('#batchNO');
                    selectElement.empty();
                    // Iterate over the array of objects
                    $.each(result, function(index, value) {
                        var option = $('<option></option>');
                        option.attr('value', value.batchNo);
                        option.text(value.batchNo);
                        selectElement.append(option);
                    });
                    $.modal.closeLoading();
                }
            };
            $.ajax(config);
            loadProdInfo();
        }

        function loadProdInfo(){
            console.log("loadProdInfo");
            var batchNO = $("#batchNO").val();
            var url = ctx + "product/info/list";
            var data = { "batchId": batchNO };
            var config = {
                url: url,
                type: "post",
                dataType: "json",
                data: data,
                beforeSend: function () {
                    $.modal.loading("正在处理中，请稍候...");
                },
                success: function(result) {
                    var selectElement = $('#prodId');
                    selectElement.empty();
                    $.each(result.rows, function(index, value) {
                        var option = $('<option></option>');
                        option.attr('value', value.id);
                        option.text(value.name);
                        selectElement.append(option);
                    });
                    $.modal.closeLoading();
                }
            };
            $.ajax(config)
        }

    </script>
</body>
</html>