<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('产品报价信息列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>产品型号：</label>
                                <input type="text" name="name"/>
                            </li>
<!--                            <li>-->
<!--                                <label>产品分类id：</label>-->
<!--                                <input type="text" name="prodId"/>-->
<!--                            </li>-->
                            <li>
                                <label>产品批次：</label>
                                <input type="text" name="batchId"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="product:history:quoter:add">
                    <i class="fa fa-plus"></i> 发起报价
                </a>
<!--                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="product:history:quter:edit">-->
<!--                    <i class="fa fa-edit"></i> 修改-->
<!--                </a>-->
<!--                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="product:history:quoter:remove">-->
<!--                    <i class="fa fa-remove"></i> 删除-->
<!--                </a>-->
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="product:history:quoter:export">
                    <i class="fa fa-download"></i> 导出
                </a>
                <button class="btn btn-primary" onclick="printPage()"><i class="fa fa-print"></i> 打印</button>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('product:history:quoter:edit')}]];
        var removeFlag = [[${@permission.hasPermi('product:history:quoter:remove')}]];
        var prefix = ctx + "product/history/";
        var staData = [[${@dict.getType('pro_qutation_sta')}]];

        $(function() {
            var options = {
                url: prefix + "/quoter/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/quoter/edit/{id}",
                // removeUrl: prefix + "/remove",
                exportUrl: prefix + "/quoter/export",
                modalName: "我的报价",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: '${comment}',
                    visible: false
                },
                {
                    field: 'batchNo',
                    title: '产品批次'
                },
                {
                    field: 'name',
                    title: '产品名称'
                },
                {
                    field: 'prodCategory',
                    title: '产品分类'
                },
                {
                    field: 'count',
                    title: '数量'
                },
                {
                    field: 'price',
                    title: '我的报单价'
                },
                {
                    field: 'status',
                    title: '状态',
                    formatter: function(value, item, index) {
                        return $.table.selectDictLabel(staData, item.status);
                    }
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        // actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
        function printPage() {
            $.table.hideColumn('8');
            $(".fixed-table-toolbar").hide();
            $(".fixed-table-pagination").hide();
            window.print();
            $(".fixed-table-toolbar").show();
            $(".fixed-table-pagination").show();
            $.table.showColumn('8');
        }
    </script>
</body>
</html>